@{
    ViewBag.Title = "About";
}

<form method="get">

    <fieldset>
        Film Türü Seçiniz <select id="MovieType" name="MovieType" class="form-control">

            <option value="0">Aksiyon</option>
            <option value="1">Drama</option>
            <option value="2">Komedi</option>
            <option value="3">Bilim Kurgu</option>
            <option value="4">Animasyon</option>
            <option value="6">Macera</option>
            <option value="7">Fantastik</option>

        </select>

    </fieldset>

</form>